html {
    font-size: 10px;
    font-family: 'MuseoModerno', cursive;
    background: #2d3740;
  }

  body{
      padding: 1rem;
      background: #1c262f;
      color: rgb(230, 225, 225);
      width: 90%;
      margin: 0 auto;
  }

  .logo{
      text-align: center;
  }

  form{
      text-align: center;
  }

  label{
      font-size: 1.8rem;
  }

  input[type="number"]{
      font-family: inherit;
      background: rgb(230, 225, 225);
      width: 80%;
      margin: 1rem 0;
      padding: 0.8rem 0;
      border: none;
      font-size: 1.2rem;
      text-align: center;
  }

  button{
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: bolder;
      width: 80px;
      height: 80px;
      border: none;
      border-radius: 50%;
      background: #0ad9ff;
      margin: 0.5rem 0 1rem 0;
  }

  ul{
      padding: 0;
      display: flex;
      list-style: none;
      justify-content: space-between;
  }